# Python
__pycache__/
*.pyc

# OpenTofu local artifacts (Terraform-compatible files)
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
*.bak.*
*.lock.info
*.db_password_generated.txt

# OS
.DS_Store

# OpenTofu plans
*.tfplan
*tfplan
